<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="vh-100" style="background-color: #9A616D;">


    <form action="login" method="post">
        {% csrf_token %}
        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;text-align:center;font-size:60px;">Sign into your account</h5>
        <div class="form-outline mb-4" style="text-align:center;font-size:40px;">
            <label>username</label><input type="text" name="username"><br>
            <label>password</label><input type="password" name="password"><br>
            <input type="submit">
        </div>

    </form>

</section>
</body>
</html>